<h2>Add Bed</h2>
<form name="addBed">
	<div class="form-group">
		<div class="form-fields">
			<label for="bedName">Name</label>
			<input id="bedName" name="bedName" type="text" class="form-control input-lg" placeholder="Bed Name" ng-model="formData.text" required>
			<label for="bedWidth">Width</label>
			<input type="text" class="form-control input-lg" placeholder="3" ng-model="formData.width" value="3">
			<label for="bedWidth">Height</label>
			<input type="text" class="form-control input-lg" placeholder="10" ng-model="formData.height" value="10">
		</div>
		<div class="form-plants">
			<label for="plantSelect">Vegetables</label>
			<div ng-controller="plantController">
				<span ng-repeat="plant in plants">
					<label for="plant{{plant._id}}">
						<input id="plant{{plant._id}}" type="checkbox" ng-model="x" ng-change="setSelectedPlants(plant._id)" name="plantGroup" value="{{plant._id}}">
						<img src="/img/{{plant.name}}.png" title="{{plant.name}}" alt="{{plant.name}}">
					</label>
				</span>
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-primary btn-lg" ng-click="createBed()">Add</button>
	<span ng-show="savingBed">
		<span class="fa fa-spinner fa-spin fa-3x"></span>
	</span>
	<div style="display:none">{{addBed.bedName.$valid}}</div>
</form>
